<nav class="navbar navbar-default no-margin">
    <div class="navbar-header fixed-brand">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"  id="menu-toggle">
            <span class="fa fa-navicon" aria-hidden="true"></span>
        </button>      
        <span> <img src="img/geoip-db-logo-white.png" width="106" height="50" id="logo"></span>
        <span class="logos">DASHBOARD</span>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active">
                <button class="navbar-toggle collapse in" data-toggle="collapse" data-target="#user-block" id="menu-toggle-2">
                    <i class="fas fa-bars"></i>
                </button>
            </li>		
            <li class="active" >
                
                    <button onclick="location.href='logout';" title="Log out" class="navbar-toggle collapse in">
                        <i class="icon-lock" aria-hidden="true"></i>
                    </button>
                
            </li>
        </ul>
        <span class="shrikhand2">Kurt Van den Branden</span>
    </div>
</nav>