<!DOCTYPE html>
<html lang="en">

<head>
	<% include partials/head %>
</head>

<body>

	<% include partials/header %>

	<div id="wrapper">
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav nav-pills nav-stacked" id="menu">
				<li class="has-user-block">
					<div id="user-block" class="collapse in" aria-expanded="true">
						<div class="item user-block">
							<div class="user-block-picture">
								<div class="user-block-status">
									<img src="https://i.stack.imgur.com/3C19Q.png?s=64&amp;g=1" alt="Avatar" width="60" height="60" class="img-thumbnail img-circle">
									<div class="circle circle-success circle-lg"></div>
								</div>
							</div>
							<div class="user-block-info">
								<span class="user-block-name">Kurt Van den Branden</span>
							</div>
						</div>
					</div>
				</li>
				<li class="active">
					<a href="#">
						<span class="fa-stack fa-lg pull-left">
							<i class="fas fa-user-shield"></i>
						</span>
						<span> Account</span>
					</a>
				</li>
				<li>
					<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span> Profile</a>
				</li>
				<li>
					<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cloud-download fa-stack-1x "></i></span>Overview</a>
				</li>
				<li>
					<a href="#"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-cart-plus fa-stack-1x "></i></span>Events</a>
				</li>
				<li>
					<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-youtube-play fa-stack-1x "></i></span>About</a>
				</li>
				<li>
					<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-wrench fa-stack-1x "></i></span>Services</a>
				</li>
				<li>
					<a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-server fa-stack-1x "></i></span>Contact</a>
				</li>
			</ul>
		</div>

		<div id="page-content-wrapper">
			<div class="container-fluid">
				<div class="content-heading">
					<h3>Project: Dashboard</h3>
					<h6>Description: </h6>
				</div>
			</div>
		</div>
	</div>


	<% include partials/footer %>
</body>
</html>